<div class="row">
	<div class="col homepage-title">
		<h3>Recycle Your Old Shoes</h3>
	</div>
</div>

<div class="row">
	<div class="col how-it-works-section">
		<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfl42fh919Cnt7UHPtMchQEe77zPKdnbDrvp0r0rmFaYxhV5Q/viewform?usp=sf_link" target="_blank">Donate</a> your old worn out shoes to us. If they are salvageable we would love to give them to beginners and other climbers in need. We also need extra shoes to help train new staff. Even if they are beyond repair, drop your old shoes off with us and we will dispose of them responsibly.</p>
	</div>
</div>
