<div class="row">
	<div class="col homepage-title">
		<h3>Recycle Your Old Shoes</h3>
	</div>
</div>

<div class="row">
	<div class="col how-it-works-section">
		<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfl42fh919Cnt7UHPtMchQEe77zPKdnbDrvp0r0rmFaYxhV5Q/viewform?usp=sf_link" target="_blank">Donate</a> your old worn out shoes to us. We would love to hone our resoling skills on shoes in any condition. Let us know in the comments if you would like your shoes back and be willing to give us feedback on the resole or if you would be willing to donate your shoes to people new to climbing or other climbers in need.</p>
	</div>
</div>
