<footer class="row ">
	<div class="row footer-main">

		<!-- First Footer Section -->
		<div class="four columns offset-by-two" style="padding:12px;"">
			<h3>Contact us</h3>
			<address>
				<p><a style="font-family:Yanone;font-weight:normal;text-decoration:underline;font-size:1.65em">Red River Resole</a></p>
				<p>
					<span> Lexington,</span>
					<span> KY</span>
				</p>
				<span id="footer-email"><a href="mailto:redriverresole@gmail.com">redriverresole@gmail.com</a></span><br />
			</address>
		</div>

		<!-- Second Footer Section -->
		<div class="four columns">
			<h3>Get involved</h3>
			<ul class="footer-list">
				<li><a href="https://goo.gl/forms/m9UVrwamVI9GJzsi1" target="_blank">Take the Survey</a></li>
				<li><a href="https://mailchi.mp/5db27145d867/redriverresole" target="_blank">Subscribe to Updates</a></li>
			</ul>
		</div>
	</div>

	<!-- Very Bottom of Page -->
	<!-- <div class="row footer-bottom"> -->


		<!-- CopyRight -->
		<!-- <div class="five columns">
			<p>Copyright ©  2017. Red River Resole.  All Rights Reserved.</p>
		</div> -->

		<!-- Developed By -->
		<!-- <div class="five columns">
			<p>Developed by <a href="https://brenthompson2.github.io" style="text-decoration:none; color:#fff;" target="_blank">Brendan Thompson</a></p>
		</div>
	</div> -->

</footer>