<footer>
	<div class="footer-main">
		<div class="row footer-width">

			<!-- First Footer Section -->
			<div class="col-md-4 col-6">
				<div class="footer-widget">
					<h3>Contact us</h3>
					<br>
					<h2>Red Resole</h2>
					<address>
						<p>
							<span> 348 East Main St.</span><br>
							<span> Lexington,</span>
							<span> KY</span>
							<span> 40507</span>
						</p>
						<span id="footer-email"><a href="mailto:redriverresole@gmail.org">redriverresole@gmail.org</a></span><br />
					</address>
				</div>
			</div>

			<!-- Second Footer Section -->
			<div class="col-md-4 col-6">
				<div class="footer-widget footer-center">
					<h3>Get involved</h3>
					<ul class="footer-list">
						<li><a href="https://mailchi.mp/5db27145d867/redriverresole" target="_blank">Subscribe to Updates</a></li>
						<li><a href="https://goo.gl/forms/m9UVrwamVI9GJzsi1" target="_blank">Take the Survey</a></li>
						<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfl42fh919Cnt7UHPtMchQEe77zPKdnbDrvp0r0rmFaYxhV5Q/viewform?usp=sf_link" target="_blank">Donate Your Shoes</a></li>
					</ul>
				</div>
			</div>

			<!-- Third Footer Section -->
			<div class="col-md-4 col-12">
				<div class="footer-widget footer-right">
					<h3>Connect</h3>
					<ul class="footer-list">
						<li><a aria-label="Facebook" target="_blank" href="http://facebook.com/RedRiverResole">Facebook <i class="icon fa fa-facebook-square" aria-hidden="true"></i></a></li>
						<li><a aria-label="Instagram" target="_blank" href="https://twitter.com/RedRiverResole">Twitter <i class="icon fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a aria-label="Instagram" target="_blank" href="https://www.instagram.com/redriverresole/">Instagram <i class="icon fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Very Bottom of Page -->
	<div class="footer-bottom">
		<div class="row footer-width">
			<!-- CopyRight -->
			<div class="col-12 col-md-6">
				<p class="footer-bottom-left">Copyright ©  2018. Red Resole.  All Rights Reserved.</p>
			</div>

			<!-- Developed By -->
			<div class="col-12 col-md-6">
				<p class="footer-bottom-right">Developed by <a href="http://brendev.co" style="text-decoration:none; color:#fff;" target="_blank">Brendan Thompson</a></p>
			</div>
		</div>
	</div>

</footer>