<div class="row homepage-container">

	<div class="homepage-title">
		<h3>How It Will Work</h3>
	</div>

	<div class="how-it-works-section">
		<p>It’s an easy four step process:<br />

			<strong>Step 1:</strong> Fill out the form in person or on-line.

			<br />

			<strong>Step 2:</strong> Deliver or Ship us your shoe.

			<br />

			<strong>Step 3:</strong> We replace the rubber with a new sole of your choice.

			<br />

			<strong>Step 4:</strong> Pick up or Receive your shoe via mail.
		</p>
	</div>
</div>
