<nav class="primary navbar navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand" href="{{ site.url }}">
        <img src="/assets/img/logos/Red_Resole_Logo.png" alt="Red Resole Logo">
        <h1>Red Resole</h1>
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ site.url }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ site.url}}/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ site.url}}#weNeedHelp">Survey</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ site.url}}#donateShoes">Donate</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-item nav-link" href="{{ site.url }}#blog">Blog</a>
            </li> -->
        </ul>
    </div>
</nav>
