<div class="row">
    <nav class="primary">

        <!-- Logo & Title -->
        <div class="three columns">
            <a href="#">
                <img src="/assets/img/logos/logo_basic_transparent_white.png" alt="Continuous Joy Logo" style="margin-top: 10px;">
                <h1>Red River Resole</h1>
            </a>
        </div>

        <!-- Links -->
        <ul>
            <!-- <li><a href="#">Home</a></li> -->
           <!--  <li><a href="/ResoleMyShoe" class="smoothScroll">Resole Me</a></li> -->
            <li><a href="https://mailchi.mp/5db27145d867/redriverresole" target="_blank">Subscribe</a></li>
            <li><a href="https://goo.gl/forms/m9UVrwamVI9GJzsi1" target="_blank">Take the Survey</a></li>
            <!-- <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=AEGA6GRPJJWEC&lc=US&item_name=Joy%20Project%20%2d%20Donation&item_number=1001&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">Donate</a></li> -->
        </ul>

    </nav>
</div>