<div class="row homepage-container">

	<div class="homepage-title">
		<h3>We Need Your Help!</h3>
	</div>

	<div class="take-survey-section">
		<p>We are working diligently to get this service off the ground! We are climbers who need shoes re-soled and are creating this company as part of the Lexington Startup Weekend event. We need market research, community support, and are looking for local talent. Please fill out the <strong><a href="https://goo.gl/forms/m9UVrwamVI9GJzsi1" target= "_blank">survey</a></strong> and let us know that you would utilize this service! Also, <strong><a href="https://mailchi.mp/5db27145d867/redriverresole" target= "_blank">subscribe to our mailing list</a></strong> and we will let you know when we are fully functioning!</p>



	</div>
</div>
