<div class="row">
	<div class="col homepage-title">
		<h3>We Need Your Help</h3>
	</div>
</div>

<div class="row">
	<div class="col mission-section">
		<p>Our team is working diligently to get this service off the ground. We need market research, community support, team members, and old shoes to improve our resoling skills on. If you have a pair of shoes you are willing to donate to the cause, let us know through the survey in the section below. You can also help by filling out <strong><a href="https://goo.gl/forms/m9UVrwamVI9GJzsi1" target= "_blank">our survey</a></strong> and let us know how you feel about getting your climbing shoe resoled. <strong><a href="https://mailchi.mp/5db27145d867/redriverresole" target= "_blank">Subscribe to our mailing list</a></strong> or follow us on social media and we will let you know when we are up and running and closer to it.</p>
	</div>
</div>
