---
# Main Sass Stylesheet for Continuous Joy Project
# Created by Brendan Thompson
# Based on the Design by Melanie Stoeckle and Huu Nguyen
---

// =====================================
// Contents:
//  - Colors
//  - Mixins
//  - Style For Body
//  - Style For NavBar
//  - Style For Footer
//  - Style For Home Page
//  - Style For Posts Display
//  - Style For About Page
//  - Style For Within Actual Posts
// =====================================

// =====================================
//    Colors
// =====================================

$primaryBckgrndColor: rgb(229, 59, 81);
$secondaryBckgrndColor: #333333;
$alternativeBckgrndColor: #ddd;
$fontColor: #fff;

// =====================================
//    Window Size Reactivity
// =====================================

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;

@mixin tablet {  /* 768-1023 */
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {  /* < 768 */
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop { /* > 1024 */
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// =====================================
// Style For Body
// =====================================

body {
  margin: 0;
}

// =====================================
// Style For NavBar
// =====================================

nav.primary {
  clear: both;
  overflow: hidden;
  padding-left: 5%;
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  z-index: 99;
  background: $secondaryBckgrndColor;
  img {
    width: 80px;
    height: auto;
    margin-top: 0px;
  }
}

// Logo & Font
.navbar-brand{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  h1 {
    color: $fontColor;
    font-size: 1.9em;
    margin-top: -65px;
    margin-left: 100px;
    position: fixed;
    font-weight: 400;
    @include mobile {
      font-size: 1.2em;
      margin-top: -60px;
    }
  }
}

// List Items
.navbar-nav {
  float: right;
  text-align: right;
  color: $fontColor;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-right: 5%;
  font-size: 1.5em;
  text-transform: uppercase;
}

// =====================================
// Style For Footer
// =====================================

.footer-main {
  clear: both;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
  background-color: $secondaryBckgrndColor;
  display: block;
  padding-top: 20px;
  span {
    font-size: 20px;
    color: $fontColor;
    @include mobile {
      font-size: 15px;
    }
  }
  h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:1.5em;
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: $fontColor;
    // margin-bottom: 0px;
    @include mobile {
      font-size: 1.2em;
    }
  }
  h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: underline;
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: $fontColor;
    @include mobile {
      font-size: 1em;
    }
  }
  a {
    color: $fontColor;
    text-decoration: none;
  }
}

.footer-width {
  margin-left: 5%;
  margin-right: 5%;
  // max-width: 1200px;
}

.footer-widget{
  p {
    margin-bottom: 0px;
  }
  address, span {
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
  }
  @include mobile {
    text-align: left;
  }
}

#footer-email {
    font-weight: 400;
}

.footer-center{
  @include mobile {
    text-align: center;
  }
}

.footer-right{
  @include mobile {
    text-align: center;
  }
}

.footer-list {
  list-style: none;
  color: $fontColor;
  text-decoration: none;
  font-weight: 300;
  padding: 0px;
  li {
    padding: 10px;
    margin: 0px;
    background: transparent url('/assets/img/design/border-underline.png') left bottom repeat-x;
    color: $fontColor;
    text-align: left;
    @include mobile {
      font-size: 15px;
      padding: 5px;
    }
  }
  li:before {
    content:"⟩";
    padding-right: 12px;
  }
  li:hover {
    background: $fontColor;
    color: #e53b51;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
  }
  li:hover a {
    color: #e53b51;
  }
}

// Submit your Nomination Button
.footer-button {
  font-weight: 400;
  margin-bottom: 10px;
  padding-top: 5px;
  @include mobile {
    font-size: 15px;
    padding-bottom: 20px;
  }
  a {
    color: #ffeef0;
    border: 1px solid #e53b51;
    text-decoration: none;
  }
  a:hover {
    background: #e53b51;
    color: $fontColor;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
  }
}

// Bottom-most bar with Copyright, Designer, and Developer
.footer-bottom {
  background-color: $secondaryBckgrndColor;
  padding-top: 20px;
  font-family: Gill Sans;
  font-size: 12px;
  text-decoration: none;
  color: $fontColor;
  letter-spacing: 0.08em;
  @include mobile {
    padding-top: 5px;
  }
}

.footer-bottom-left{
  text-align: left;
  @include mobile {
    text-align: center;
  }
}

.footer-bottom-center{
  text-align: center;
  @include mobile {
    text-align: center;
  }
}

.footer-bottom-right{
  text-align: right;
  @include mobile {
    text-align: center;
  }
}

// =====================================
// Style For Home Page
// =====================================

.homepage-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 30px;
  @include mobile {
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.header-container {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  @include mobile {
    padding-left: 0%;
    padding-right: 0%;
  }
}

#header-image {
  width: 100%;
  height: auto;
  padding-top: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
  @include mobile {
    padding-top: 10%;
  }
}

// #header-phrase-container {
//   // width: 100%;
//   // text-align: center;
// }

// #header-phrase {
//   position: absolute;
//   width:20%;
//   top: calc(50% - 40px); //40px is font size
//   text-align: center;
//   padding-left: 7px;
//   padding-right: 7px;
//   color: white;
//   background-color: rgba(229, 59, 81, 0.8);
//   font-size: 40px;
//   font-family: 'Yanone Kaffeesatz', sans-serif;
//   font-weight: 400;
// }

// Title Heading For Each Section
.homepage-title {
  text-align: center;
  background: transparent url("/assets/img/design/header-line.png") repeat-x 0 60%;
  margin-bottom: 24px;
  h3, h2 {
    background: $fontColor;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: -20px;
    margin-top: -50px;
    vertical-align: bottom;
    @include mobile {
      font-size: 3em;
    }
  }
}

.mission-section {
  background: #e53b51;
  border-radius: 10px;
  p {
    color: $fontColor;
    padding: 10px;
    text-align: left;
    font-size: 1.6em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include mobile {
      font-size: 1.5em;
    }
  }
  a {
    color: $fontColor;
  }
}

.how-it-works-section {
  background-color: rgba(120,120,120,0.1);
  border-radius: 10px;
  p {
    color: black;
    padding: 10px;
    text-align: left;
    font-size: 1.6em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include mobile {
      font-size: 1.5em;
    }
  }
  strong, a {
    color: #e53b51;
  }
}

// =====================================
// Style For Posts Display
// =====================================

.stories-slider {
  margin-left: 20%;
  margin-right: 20%;
  @include mobile {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.flex-caption {
  width: 100%;
  padding: 2%;
  background: $secondaryBckgrndColor;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: $fontColor;
  font-size: 1em;
}

.flex-direction-nav a {
  height: 55px;
}

// =====================================
// Style For Pages
// =====================================

.page-title{
  text-align: center;
  background: transparent url("/assets/img/design/header-line.png") repeat-x 0 60%;
  margin-bottom: 24px;
  h1 {
    background: $fontColor;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: -20px;
    margin-top: -50px;
    vertical-align: bottom;
    @include mobile {
      font-size: 3em;
    }
  }
}

.team-member-card{
  text-align: center;
  padding: 0px;
  margin: 5px;
  border-radius: 10px;
  background: $primaryBckgrndColor;
  h4 {
    color: $fontColor;
    padding: 10px;
    font-size: 2em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include mobile {
      font-size: 1.8em;
    }
  }
  p {
    color: $fontColor;
    padding: 10px;
    font-size: 1.6em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include mobile {
      font-size: 1.5em;
    }
  }
  img {
    // margin-top: 10px;
    // border-radius: 10px;
    width: 100%;
    height: auto;
  }
}

// =====================================
// Style For Within Actual Posts
// =====================================

.post-title h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #e53b51;
  font-size: 3.0em;
  margin-top: 40px;
}

.post-image {
  width: 100%;
  height:auto;
  margin-bottom: 20px;
}

.post-content {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  display: block;
  font-size: 22px;
}
