---
layout: page
---

<div>
 	<section class="homepage-container" id="header">
  		{% include mainHeader.html %}
  </section>

    <br>

 	<section class="homepage-container" id="mission">
  		{% include mission.html %}
	</section>

  	<br>

 	<section class="homepage-container" id="howItWorks">
  		{% include howItWorks.html %}
	</section>

    <br>

  <section class="homepage-container" id="weNeedHelp">
      {% include weNeedHelp.html %}
  </section>

    <br>

  <section class="homepage-container" id="donateShoes">
      {% include donateOldShoes.html %}
  </section>

  	<br>

  <!-- Latest Posts: -->
  <!-- <section class="homepage-container" id="blog">
      <div class="homepage-title">
        <h3>Latest Posts</h3>
      </div>
      <div class="stories-slider">
        {% include flexslider.html %}
      </div>
  </section> -->
</div>
